@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";@font-face{font-display:swap;font-family:"Poppins";font-style:normal;font-weight:400;src:url("../fonts/poppins-v20-latin-regular.woff2") format("woff2")}*{padding:0;margin:0;box-sizing:border-box;font-family:"Poppins"}body{padding-top:85px;overflow-x:hidden}::-webkit-scrollbar{width:9px;background-color:#f1f9ff}::-webkit-scrollbar:hover{background-color:#dceaf5}::-webkit-scrollbar-thumb{border-radius:9px;background-color:#063255}::-webkit-scrollbar-thumb:hover{background-color:#114066}.container{max-width:1320px;width:100%;margin:0 auto;padding:0 20px}a{text-decoration:none}button{cursor:pointer;transition:all .3s ease-out}input{outline:none}header{position:fixed;top:0;left:0;right:0;background-color:#fff;z-index:99}.navbar{display:flex;align-items:center;height:85px;gap:32px}.navbar>a{flex-grow:1}.navbar>a .navbar_light{display:none}.navbar_items{display:flex;align-items:center;gap:32px}.navbar_link{font-size:16px;line-height:24px;color:#394149;font-weight:600;transition:.2s}.navbar_link:hover{color:#f58a07}.navbar .burger_menu{display:none}@media screen and (max-width: 992px){.navbar{gap:16px}.navbar_items{gap:16px}.navbar .btn{padding:14px 20px}}@media screen and (max-width: 768px){.navbar>a{text-align:center}.navbar_items{position:absolute;top:100%;left:0;width:60vw;height:80vh;background-color:rgba(255,255,255,.7254901961);-webkit-backdrop-filter:blur(4px);backdrop-filter:blur(4px);flex-direction:column;align-items:flex-start;padding:30px 20px;transition:all .5s ease-in-out;transform:translateX(-100%)}.navbar_link{font-size:18px}.navbar .burger_menu{position:absolute;left:20px;top:auto;display:flex;align-items:center;flex-direction:column;justify-content:space-around;width:28px;height:24px;transition:all .5s ease-in-out}.navbar .burger_menu span{width:100%;height:3px;background-color:#0d1317;border-radius:5px;transition:all .5s ease-in-out}.navbar_menu .navbar_items{transform:translateX(0%)}.navbar_menu .burger_menu{transform:rotate(180deg)}.navbar_menu .burger_menu span{background-color:#f58a07}.navbar_menu .burger_menu__top{position:absolute;transform:rotate(135deg)}.navbar_menu .burger_menu__center{position:absolute;transform:rotate(-135deg)}.navbar_menu .burger_menu__bottom{display:none}}@media screen and (max-width: 576px){.navbar_items{align-items:center;width:100vw}}footer{position:relative;background-color:#063255;overflow:hidden;padding:80px 0}footer::before{position:absolute;top:38px;right:-30px;border-radius:20px;content:"";width:70px;height:280px;background-color:#f58a07}footer:after{position:absolute;bottom:-40px;left:-30px;border-radius:20px;content:"";width:70px;height:180px;background-color:#f58a07}.footer{width:100%;display:flex;align-items:center;flex-direction:column;gap:80px}.footer_top{width:100%;display:flex;align-items:flex-start;justify-content:space-between;gap:24px}.footer_top-description{display:flex;flex-direction:column;align-items:flex-start;max-width:330px;gap:32px}.footer_top-description h2{font-size:36px;line-height:44px;color:#fff}.footer_top-icons{display:flex;align-items:center;gap:16px}.footer_top-icons ion-icon{font-size:24px;color:#fff;transition:.2s}.footer_top-icons ion-icon:hover{opacity:.7}.footer_top-items{display:flex;flex-direction:column;align-items:flex-start;gap:16px}.footer_top-items h4{font-size:18px;line-height:27px;color:#fff;margin-bottom:8px}.footer_top-items span{font-size:16px;line-height:24px;color:#fff}.footer_top-items input{padding:16px 32px;border:none;border-radius:30px;max-width:340px;width:100%}.footer_top-items input:hover{box-shadow:0 0 10px 6px #0073ff}.footer_top-link{font-size:16px;line-height:24px;color:#fff;transition:.3s}.footer_top-link:hover{opacity:.7}.footer_bottom{width:100%;display:flex;align-items:center;justify-content:space-between}.footer_bottom h5{font-size:16px;font-weight:500;line-height:24px;color:#fff}.footer_bottom-link{display:flex;align-items:center;gap:32px}.footer_bottom-link a{font-size:16px;line-height:24px;color:#fff}.footer_bottom-link a:hover{opacity:.7}.section_last{background-color:#dceaf5;padding:96px 0}.latest{display:flex;flex-direction:column;align-items:flex-start;gap:64px}.latest h2{font-size:48px;line-height:56px;color:#0d1317}.latest_cards{width:100%;display:flex;align-items:flex-start;justify-content:center;flex-wrap:wrap;gap:40px}.latest_card{max-width:400px;width:100%;border-radius:20px;overflow:hidden;background-color:#fff}.latest_card img{width:100%}.latest_card-text{padding:28px}.latest_card-text h4{font-size:24px;line-height:36px;color:#0d1317}.latest_card-text p{font-size:16px;line-height:28px;margin:16px 0 24px 0;color:#5b5b5b}.latest_card-text .btn_link{border:none;background-color:rgba(0,0,0,0);color:#f58a07;display:flex;align-items:center;gap:8px}@media(max-width: 1380px){.footer{padding:0 40px}}@media screen and (max-width: 992px){.footer_top{flex-wrap:wrap;row-gap:60px}}@media screen and (max-width: 768px){.latest{align-items:center}.latest h2{font-size:44px}.footer_bottom{flex-direction:column;gap:16px}}@media screen and (max-width: 576px){.section_last{padding:60px 0}.latest{gap:36px}.latest h2{font-size:40px}footer::before{right:-50px}footer::after{left:-50px}.footer{padding:20px 0}.footer_top{flex-direction:column;align-items:center}.footer_top-description{align-items:center}.footer_top-description h2{text-align:center;font-size:32px}.footer_top-items{align-items:center}}@media screen and (max-width: 480px){.latest h2{font-size:32px}.footer_bottom-link{flex-direction:column;gap:16px}}.blogHero{background:#dceaf5;height:749px}.blogHero__title{display:inline-block;margin-top:161px}.blogHero__title h1{width:527px;color:#1d3444;font-family:Poppins;font-size:64px;font-style:normal;font-weight:600;line-height:72px;letter-spacing:-1.92px;margin-top:24px}.blogHero__title p{width:559px;color:#5b5b5b;font-family:Poppins;font-size:18px;font-style:normal;font-weight:500;line-height:30px;margin-top:24px;margin-bottom:24px}.blogHero__title a{color:#f58a07;font-family:Poppins;font-size:16px;font-style:normal;font-weight:500;line-height:106.5%}.blogHero__title-ava{display:flex;align-items:center}.blogHero__title-ava img{width:32px;height:32px;flex-shrink:0;margin-right:8px}.blogHero__title-ava h6{color:#394149;font-family:Poppins;font-size:16px;font-style:normal;font-weight:400;line-height:32px;opacity:.87;margin-right:24px}.blogHero__title-ava p{color:#394149;font-size:16px;font-style:normal;font-weight:400;line-height:32px;opacity:.87}.blogHero__image{display:inline-block;position:relative;left:650px;bottom:500px}.blogHero__image img{border-radius:20px}.blogPost{margin-top:128px;margin-bottom:100px}.blogPost h1{width:453px;color:#0d1317;font-family:Poppins;font-size:48px;font-style:normal;font-weight:600;line-height:56px;letter-spacing:-1.44px;text-transform:capitalize;margin-bottom:64px}.blogPost__allGrid{display:grid;grid-template-columns:auto auto auto;gap:40px}.blogPost__grid{background:#edf7ff;border-radius:20px 20px 20px 20px;width:400px;height:507px;box-shadow:rgba(0,0,0,.25) 0px 25px 50px -12px}.blogPost__grid h3{width:336px;margin-top:32px;margin-left:32px;margin-right:32px;color:#0d1317;font-family:Poppins;font-size:24px;font-style:normal;font-weight:500;line-height:36px;letter-spacing:-0.72px}.blogPost__grid p{width:336px;color:#5b5b5b;font-family:Poppins;font-size:16px;font-style:normal;font-weight:500;line-height:28px;margin-left:32px;margin-right:32px;margin-top:16px;margin-bottom:24px}.blogPost__grid a{color:#f58a07;font-family:Poppins;font-size:16px;font-style:normal;font-weight:500;line-height:106.5%;margin-left:32px;margin-right:32px}.btn{font-size:16px;line-height:17px;padding:18px 32px;border-radius:30px;color:#fff;border:1px solid rgba(0,0,0,0);background-color:#f58a07}.btn:hover{background-color:rgba(245,138,7,.1882352941);color:#f58a07}@media screen and (max-width: 576px){.container{padding:0 10px}}.dark{background-color:#000}.dark *{color:#fff !important}/*# sourceMappingURL=style.css.map */;
}
.blogHero__title-ava h6 {
  color: #394149;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  opacity: 0.87;
  margin-right: 24px;
}
.blogHero__title-ava p {
  color: #394149;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  opacity: 0.87;
}
.blogHero__image {
  display: inline-block;
  position: relative;
  left: 650px;
  bottom: 500px;
}
.blogHero__image img {
  border-radius: 20px;
}

.blogPost {
  margin-top: 128px;
  margin-bottom: 100px;
}
.blogPost h1 {
  width: 453px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: -1.44px;
  text-transform: capitalize;
  margin-bottom: 64px;
}
.blogPost__allGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}
.blogPost__grid {
  background: #edf7ff;
  border-radius: 20px 20px 20px 20px;
  width: 400px;
  height: 507px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.blogPost__grid h3 {
  width: 336px;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
  letter-spacing: -0.72px;
}
.blogPost__grid p {
  width: 336px;
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
  margin-bottom: 24px;
}
.blogPost__grid a {
  color: #f58a07;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.5%;
  margin-left: 32px;
  margin-right: 32px;
}

.btn {
  font-size: 16px;
  line-height: 17px;
  padding: 18px 32px;
  border-radius: 30px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #F58A07;
}
.btn:hover {
  background-color: rgba(245, 138, 7, 0.1882352941);
  color: #F58A07;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 10px;
  }
}
.dark {
  background-color: black;
}

.dark * {
  color: white !important;
}/*# sourceMappingURL=style.css.map */